body {
  overflow-x: hidden;
  background-color: black;
}
h1 {
  background-color: black;
  color: white;
  padding: 2rem;
  position: relative;
  top: -1rem;
  margin-bottom: 2rem;
}
.container {
  color: white;
  background-color: black;
  padding: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}
section {
  text-align: center;
}
.cap {
  text-transform: capitalize;
}
.label {
  font-weight: bold;
  color: black;
}
.one-picture,
.thumbnail {
  width: 100%;
  max-width: 350px;
  min-height: 500px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgb(213, 255, 222);
  color: black;
}
.error-msg {
  display: block;
  padding: 15%;
  background-color: white;
}
.gallery-title {
  position: sticky;
  top: 0;
  left: 0;
  background-color: black;
  color: white;
  padding: 1em 0;
  width: auto;
  text-align: left;
}
.gallery-nav {
  padding: 1em 0;
  background-color: black;
  text-align: center;
  width: 90%;
  margin: auto;
}
#gallery-pagination {
  text-align: center;
  margin: auto;
  overflow-x: scroll;
}

/*https://css-tricks.com/seamless-responsive-photo-grid/*/
#gallery {
  /* background-image: url("./assets/paws-6757808_1280.png"); */
  /* background-repeat: no-repeat; */
  /* background-size: auto; */
  /* background-position: bottom center; */
  /* padding-bottom: 200px; */
  line-height: 0;

  -webkit-column-count: 3;
  -webkit-column-gap: 0px;
  -moz-column-count: 3;
  -moz-column-gap: 0px;
  column-count: 3;
  column-gap: 0px;
}
.gallery-item {
  width: 100% !important;
  height: auto !important;
}
@media (max-width: 800px) {
  #gallery {
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
  }
}
@media (max-width: 400px) {
  #gallery {
    -moz-column-count: 1;
    -webkit-column-count: 1;
    column-count: 1;
  }
}
